body {
  margin: 0;
  font-family: rockwell-nova, Rockwell, "Hoefler Text", Garamond, Georgia;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: #f1a4ff;
}

.css-heati9 {
  background-image: url("https: //c4.wallpaperflare.com/wallpaper/205/1015/658/cocktails-fruit-strawberry-orange-chocolate-wallpaper-preview.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}